/*======================================

SAPACREW NEWS
Desenvolvido por Bruna ❤️

======================================*/

:root{

    --laranja:#d96a1d;
    --laranjaEscuro:#bf4d0d;
    --preto:#1c1c1c;
    --cinza:#ece8df;
    --cinza2:#f8f5ef;
    --branco:#ffffff;
    --vermelho:#c92020;

    --sombra:0 12px 30px rgba(0,0,0,.15);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--cinza2);

    color:#333;

    font-family:Inter,sans-serif;

}

.container{

    width:min(1200px,90%);
    margin:auto;

}

img{

    width:100%;
    display:block;

}

a{

    color:inherit;
    text-decoration:none;

}

button{

    cursor:pointer;
    border:none;

}

section{

    padding:80px 0;

}

.titulo{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:35px;

    border-bottom:3px solid #e3ddd2;

    padding-bottom:15px;

}

.titulo h2{

    font-size:42px;
    font-family:"Bree Serif", serif;

}

.titulo a{

    font-weight:700;
    color:var(--laranja);
}

.titulo a:hover{

    text-decoration:underline;

}

header{

    background:#111;

    position:sticky;

    top:0;

    z-index:999;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

}

nav{

    height:90px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

nav ul{

    display:flex;

    gap:35px;

    list-style:none;

}

nav a{

    color:white;

    font-weight:700;

    transition:.3s;

}

nav a:hover{

    color:var(--laranja);

}

.logo-menu h2{

    color:white;

    font-family:"Bree Serif";

    letter-spacing:1px;

}

.logo-menu span{

    color:var(--laranja);

}

.hero{

    background:

    linear-gradient(rgba(255,255,255,.82),rgba(255,255,255,.82)),
    url("../img/fundo-jornal.png");

}

.hero-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}

.logo{

    position:relative;

    width:430px;

    height:250px;

}

.sapa{

    position:absolute;

    left:0;
    top:0;

    font-family:'Luckiest Guy', cursive;

    font-size:120px;

    color:#e56d22;

    -webkit-text-stroke:4px #111;

    text-shadow:
        6px 6px 0 #111,
        10px 10px 18px rgba(0,0,0,.25);

    z-index:5;

}

.news{

    position:absolute;

    right:10px;

    top:25px;

    background:#111;

    color:white;

    padding:10px 20px;

    border-radius:10px;

    font-weight:bold;

    transform:rotate(-5deg);

    box-shadow:var(--sombra);

    letter-spacing:2px;

}

.news::before{

content:"";

position:absolute;

width:2px;

height:30px;

background:#666;

left:18px;

top:-30px;

}

.news::after{

content:"";

position:absolute;

width:2px;

height:30px;

background:#666;

right:18px;

top:-30px;

}

.crew{

    position:absolute;

    left:290px;
    top:105px;

    width:180px;
    height:180px;

}

.crew span{

    position:absolute;

    font-family:'Luckiest Guy', cursive;


    font-size:62px;

    color:#e56d22;

    -webkit-text-stroke:3px #111;

    text-shadow:

        5px 5px 0 #111,

        8px 8px 15px rgba(0,0,0,.25);

    transition:.25s;

}

.c{

    left:0;
    top:0;

    transform:rotate(-12deg);

}

.r{

    left:28px;
    top:45px;

    transform:rotate(8deg);

}

.e{

    left:70px;
    top:95px;

    transform:rotate(-6deg);

}

.w{

    left:115px;
    top:140px;

    transform:rotate(5deg);

}

.crew{

    animation:crewBalanco 5s ease-in-out infinite;

    transform-origin:top left;

}

@keyframes crewBalanco{

0%{

transform:rotate(0deg);

}

25%{

transform:rotate(2deg);

}

50%{

transform:rotate(-2deg);

}

75%{

transform:rotate(1deg);

}

100%{

transform:rotate(0deg);

}

}

.c::after{

content:"";

position:absolute;

width:55px;
height:2px;

background:#111;

left:-5px;
top:60px;

transform:rotate(-35deg);

}

.c::before{

content:"";

position:absolute;

width:40px;
height:2px;

background:#111;

left:20px;
top:48px;

transform:rotate(25deg);

}

@keyframes crew{

0%{

transform:rotate(18deg);

}

50%{

transform:rotate(23deg);

}

100%{

transform:rotate(18deg);

}

}

.hero p{

    margin-top:25px;

    font-size:20px;

    color:#555;

    line-height:1.7;

}

.hero-info h2{

    font-size:50px;

    font-family:"Bree Serif";

}

.hero-info>p{

    margin-top:20px;

}

.numeros{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:45px;

}

.numeros div{

background:white;

padding:25px;

border-radius:15px;

box-shadow:var(--sombra);

text-align:center;

transition:.3s;

}

.numeros div:hover{

transform:translateY(-8px);

}

.numeros h3{

font-size:40px;

color:var(--laranja);

}

.numeros span{

font-weight:bold;

}

/* ==========================
   PLANTÃO
========================== */

.plantao {

    background: #c92020;
    overflow: hidden;
    padding: 0;

}

.ticker {

    height: 60px;

    display: flex;
    align-items: center;

    overflow: hidden;

}

.ticker span {

    flex-shrink: 0;

    background: #111;

    color: white;

    font-weight: 700;

    padding: 0 25px;

    height: 100%;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;

}

.ticker-text {

    overflow: hidden;

    width: 100%;

    margin-left: 20px;

}

.ticker-text p {

    display: inline-block;

    white-space: nowrap;

    color: white;

    font-weight: 600;

    animation: ticker 30s linear infinite;

}

@keyframes ticker {

    from {

        transform: translateX(100%);

    }

    to {

        transform: translateX(-100%);

    }

}

@keyframes andar{

0%{

transform:translateX(100%);

}

100%{

transform:translateX(-100%);

}

}

/*======================================
MENU MOBILE
======================================*/

.menu-mobile{

    display:none;

    background:none;

    color:white;

    font-size:34px;

}